.Service_Section {
    position: absolute;
    top: 0px;
    padding: 250px 0px;
    width: 100%;
    height: 100%;
}

.eclips {
    position: absolute;
    top: -10%;
    right: 0%;
    max-width: 100%;
    z-index: -99;
}

.Service_container {
    width: 85%;
    margin: 100px auto;
}

.Service_container h2 {
    font-family: 'jost';
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.Service_container h2 span {
    color: #4d41e1;
}

.Service_container_inner {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.Service_container_inner_card {
    width: 30%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 25px 70px 0 rgba(152, 152, 153, .25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 2% 0px 0px;
}

/* .s_inner_card_icon {
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 20px;
}

.s_inner_card_icon::before {
    content: "";
    position: absolute;
    left: -30px;
    height: 100%;
    width: 100%;
    background-color: #4d41e1;
    z-index: -1;
    opacity: 0.1;
    border-radius: 50%;
} */

.s_inner_card_icon img {
    width: 100%;
    height: 100%;
}

.card_inner {
    height: 80%;
    width: 80%;
}

.card_inner h3 {
    font-family: 'jost';
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    color: #120f2d;
    margin-bottom: 0;
}

.card_inner p {
    font-family: 'jost';
    color: #6b6a75;
    margin: 0 0 26px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.card_inner_circle {
    width: 30px;
    height: 30px;
    background-color: #4d41e1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Fqa_section {
    width: 80%;
    margin: 100px auto;
}
@media screen and (max-width: 768px) {
    .Service_container_inner {
        flex-direction: column;
    }
    .Service_container_inner_card{
        width: 100%;
        margin: 20px 0px;
    }
}
