.recnet_container_h {
    width: 85%;
    margin: 80px auto;
    display: flex;
}

.recent_text_container {
    width: 30%;
}

.recent_text_container h2 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    font-family: 'jost';
    color: #010e2e;
}

.rebtn {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    font-family: 'jost';
    color: #6b6a75;
    padding: 5px 0px;
}

.rebtn::before {
    position: absolute;
    width: 0%;
    height: 1px;
    content: "";
    left: 0;
    bottom: 5px;
    transition: width 0.2s ease-in;
}

.re_te_btn button {
    background-color: transparent;
    border: none;
}

.ren_linkun {
    background-color: transparent;
    height: 0px;
    width: 0%;
}

.ren_link {
    background-color: #4d41e1;
    height: 2px;
    width: 100%;
}

.rebtnactive {
    color: #4d41e1;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    font-family: 'jost';
    padding: 5px 0px;
}

.rebtn:hover::before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #4d41e1;
    left: 0;
    bottom: 5px;
    transition: width 0.2s ease-in;
}

.re_te_section {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recent_view {
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent_view_card {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.re_view_img {
    height: 80%;
    width: 100%;
    box-shadow: 0 15px 50px 0 hsla(0, 0%, 40%, .21);
}

.rec_view_text {
    height: 20%;
    /* width: 90%; */
    /* padding: 10px 0px; */
    /* margin: auto; */
    /* background: #010e2e; */
}

.rec_view_text_hea {
    /* margin: 0px; */
}

.rec_view_text_hea a {
    font-size: 20px;
    font-weight: 400;
    font-family: jost;
    color: #010e2e;
    /* letter-spacing: 3px; */
}

.rec_view_text-remo {
    font-size: 16px;
    color: #6b6a75;
    font-family: jost;
}

@media screen and (max-width: 768px) {
    .recnet_container_h {
        flex-direction: column;
    }

    .recent_text_container {
        width: 100%;
        text-align: center;
    }

    .recent_view {
        flex-direction: column;
        margin: auto;
        height: 100%;
    }

    .recent_view_card {
        margin: 50px auto;
        width: 100%;
    }
}