.mocontact{
    width: 50%;
    display: flex;
   flex-wrap: wrap;
    height: 50%;
    margin: 10px 0px;
}
.mocontact input{
    width: 80%;
    height: 40px;
    outline: none;
    border: 1px solid;
    margin: 0px 0px;
    padding: 10px 15px;
    font-size: 18px;
    font-family: 'jost';
    font-weight: 400;
}
.letschat{
    font-family: 'jost';
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
}