.footer_Section {
    background-color: rgba(77, 65, 225, .05);
    /* background-color: #4d41e1; */
    height: 700px;
    width: 100%;
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 999; */
    opacity: 1;
}
.footer_Section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #36c1ea 10%, #4d41e1 50%, #ff884e 90%) ;
    opacity: .1;
    z-index: -99;
}
@keyframes float-bob-y {
    0% {
        top: 40%;
        /* Start position */
    }

    50% {
        top: 50%;
        /* Mid position */
    }

    100% {
        top: 40%;
        /* End position, back to start */
    }
}

.dotted_footer {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -4px;
    top: 40%;
    -webkit-animation: float-bob-y 3s ease-in infinite;
    animation: float-bob-y 3s ease-in infinite;
}

.footer_content {
    width: 85%;
    height: 70%;
    /* margin:auto; */
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    height: 80%;
    display: flex;
}

.footer_content_heading {
    width: 40%;
    height: 100%;
}
.footer_content_heading p{
    margin: 0 0 26px;
    font-size: 18px;
    line-height: 32px;
    font-family: 'jost';
    font-weight: 400;
    color: #6b6a75;
}

.hf_logo {
    height: 100px;
    width: 150px;
}

.hf_logo img {
    height: 100px;
    width: 150px;
    z-index: 999;
    object-fit: contain;
}


.footer_address a{
    color: #6b6a75;
}
.footer_address p{
   margin: 0;
}

.footer_contetnt_links {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}
.footerheadingh3{
    font-size: 24px;
    line-height: 36px;
    color: #6b6a75;
    margin-bottom: 40px;
    font-family: 'jost';
    font-weight: 500;
}
.footer_contetnt_links ul li{
    list-style: none;
    margin-bottom: 10px;
    margin-left: -40px;
}
.footer_contetnt_links ul li a{
    font-size: 18px;
    color: #6b6a75;
    font-family: 'jost';
    font-weight: 400;
}
.footer_contetnt_suscribe{
    width: 40%;
}

.footerreserve{
    color: #6b6a75;
}
.footerreserve a{
    color: #6b6a75;
}
.input_div{
    width: 100%;
    height: 50px;
    display: flex;
}
.home_email_input{
    border: none;
    outline: none;
    padding: 0px 15px;
    width: 50%;
    font-family: 'jost';
    font-weight: 400;
    height: 100%;
    font-size: 15px;
    border-radius: 5px;
}
.email_send_btn{
    width: 40%;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
    background-color: #4d41e1;
    color: white;
    font-family: 'jost';
    font-weight: 400;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
}
.icons{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.footer_inner_icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #4d41e1;
    transition: background-color 0.5s ease-in; 
    cursor: pointer;
}
.footer_inner_icon:hover{
    background-color: #4d41e1;
    transition: background-color 0.5s ease-in; 
}
.footer_inner_icon svg{
    color: #4d41e1;
}
.footer_inner_icon:hover svg{
    color:  white;
}

.footer_social_media {
    width: 20%;
    margin: auto;
    height: 20%;
    display: flex;
    flex-direction: column;
    
}




@media screen and (max-width: 768px) {
    .footer_contact_us{
        display: none;
    }
    .row{
        flex-direction: column;
    }
    .footer_Section{
        height: auto;
    }
    .footer_content_heading{
        width: 100%;
    }
    .footer_contetnt_links{
        width: 100%;
    }
    .footer_contetnt_suscribe{
        width: 100%;
    }
    .footer_social_media{
        width: 100%;
    }
    .icons{margin: 20px auto;}
    
    .dotted_footer{
        right: -42px;
        top:20px;
        display: none;
    }
}
